  
CDWHXKLWBqz//nHVpLjYczbv37riyAwC8AAwAAAAABAQAArequest-methodGETresponse-headHTTP/2.0 200 OK
Content-Type: image/png
Date: Thu, 26 Nov 2015 14:56:28 GMT
Expires: Thu, 26 Nov 2015 20:56:28 GMT
Etag: "1447169148"
x-content-type-options: nosniff
Server: sffe
Content-Length: 1299
X-XSS-Protection: 1; mode=block
Cache-Control: public, max-age=21600
Age: 13510
alternate-protocol: 443:quic,p=1
Alt-Svc: quic=":443"; ma=604800; v="30,29,28,27,26,25"
X-Firefox-Spdy: h2
c115-11e4-87d3-806e6f6e6963}\##windows\system32\spp\tokens\ppdlic55security-spp-component-sku-homepremium-ppdlic.xrm-ms22\\?\Volume{28fdc939-c115-11e4-87d3-806e6f6e6963}\windows\system32sxssrv.dll22\\?\Volume{28fdc939-c115-11e4-87d3-806e6f6e6963}\windows\system32tsworkspace.dll22\\?\Volume{28fdc939-c115-11e4-87d3-806e6f6e6963}\windows\system32\wbem\en-uscimwin32.dll.mui22\\?\Volume{28fdc939-c115-11e4-87d3-806e6f6e6963}\windows\system32\wbem\en-ushbaapi.mfl22\\?\Volume{28fdc939-c115-11e4-87d3-806e6f6e6963}\..windows\system32\windowspowershell\v1.0\en-us++microsoft.powershell.security.dll-help.xml22\\?\Volume{28fdc939-c115-11e4-87d3-806e6f6e6963}\))program files\common files\system\ole db

sqlol